linkedin-workflow8796.json
{
  "name": "Apollo Outreach Skool Template",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Organization Name: {{ $json.companyName }}\n\nBackground for icebreaker: {{ $json.choices[0].message.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a company name normalizer and icebreaker generator for cold outreach emails.\n\nTASK 1: NORMALIZE COMPANY NAME\nTake the official company name and output the casual conversational version:\n- Remove LLC, Inc., Corp., Ltd., etc.\n- Remove colons, slashes, taglines, and descriptive phrases\n- Fix ALL CAPS to proper case\n- Keep ampersands (&) and \"Co.\" when they're part of the core name\n- Output how the company name would be spoken in conversation\n\nTASK 2: CREATE ICEBREAKER\nCreate one natural sentence: \"Love what you're doing with [company], especially [unique thing we noticed]. Wanted to reach out.\"\n\nREQUIREMENTS:\n- Pick the most SURPRISING/INTERESTING detail that makes them unique\n- Keep the \"especially\" part to MAXIMUM 10 words\n- PARAPHRASE in simple, natural language\n- USE VARIED SENTENCE STRUCTURES - mix up your phrasing naturally\n- Focus on what made you think \"oh, that's clever/different\"\n- Write like you're genuinely commenting on something that caught your eye\n- ALWAYS end with \"Wanted to reach out.\"\n- Avoid overused words like \"seamless,\" \"truly,\" \"smart,\" \"really,\" \"the way you\"\n- Avoid generic observations that could apply to any company\n\nSTRUCTURE VARIETY EXAMPLES:\n- \"especially [person's] [quote/philosophy]\"\n- \"especially the [specific approach/strategy]\"  \n- \"especially [unique positioning/focus]\"\n- \"especially being [achievement/status]\"\n- \"especially that [surprising detail]\"\n- \"especially [interesting partnership/method]\"\n\nGOOD EXAMPLES (short and specific):\n- \"Love what you're doing with TAG Digital Marketing, especially being one of Google's first platinum agencies. Wanted to reach out.\"\n- \"Love what you're doing with Backroom, especially burning down the old agency model. Wanted to reach out.\"\n- \"Love what you're doing with Glass, especially using blockchain to navigate complex alcohol rules. Wanted to reach out.\"\n- \"Love what you're doing with Cowsultants, especially the Everything for the Cow approach. Wanted to reach out.\"\n\nBAD EXAMPLES:\n- \"especially the way you combine precise craftsmanship with total project management to make signs that actually drive business\" (TOO LONG - 18 words)\n- \"especially the way you focus on building lasting client relationships\" (GENERIC)\n- \"especially creators who truly fit their vibe\" (USES BANNED WORD \"truly\")\n\nTONE: Short, punchy, naturally varied - like you noticed one specific thing that stood out.\n\nGenerate the complete icebreaker sentence."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1568,
        528
      ],
      "id": "d859705d-7114-4945-9f04-82107ffebced",
      "name": "Generate Outreach Message",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        544
      ],
      "id": "7e8b063f-beb1-4f80-8ce5-623aa4163533",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kqs2CPn1qmv90IB0155cjeADh9Few5mTjc33I-xo4WA",
          "mode": "list",
          "cachedResultName": "Test_2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqs2CPn1qmv90IB0155cjeADh9Few5mTjc33I-xo4WA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1865237912,
          "mode": "list",
          "cachedResultName": "apollo-contacts-export (3).csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqs2CPn1qmv90IB0155cjeADh9Few5mTjc33I-xo4WA/edit#gid=1865237912"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        848,
        544
      ],
      "id": "5323a284-fd9b-49ee-9756-07b98f9fe8d4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A72r2oXTR9RfnPrp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.instantly.ai/api/v2/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOURAPIKEYHERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"campaign\": \"YOUR-CAMPAIGN-ID-HERE\",\n  \"email\": {{ JSON.stringify($('Merge').item.json.email || 'missing@email.com') }},\n  \"last_name\": {{ JSON.stringify($('Merge').item.json.lastName || '') }},\n  \"first_name\": {{ JSON.stringify($('Merge').item.json.firstName || '') }},\n  \"company_name\": {{ JSON.stringify($('Merge').item.json.companyName || '') }},\n  \"custom_variables\": {\n    \"custom_company_name\": {{ JSON.stringify($json.output.custom_company_name || '') }},\n    \"icebreaker\": {{ JSON.stringify($json.output.icebreaker || '') }}\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        528
      ],
      "id": "29efe471-e9da-44b3-b26e-12ce1d86573f",
      "name": "Add Lead to Instantly AI",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"icebreaker\": \"Love what you're doing with Effective Sign Works. Bob's philosophy of 'only as good as your last job' really resonates. Wanted to reach out.\",\n    \"custom_company_name\": \"Effective Sign Works\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1728,
        720
      ],
      "id": "c6662626-6da0-4d8c-b263-2bdaeb95dbad",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {api_key_here}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"linkedin_profile_to_linkedin_info\",\n  \"input_data\": \"{{ $json['Person Linkedin Url'] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        448
      ],
      "id": "05faf431-2d00-4597-9318-6bb1b24c70d9",
      "name": "LinkFinder AI - LinkedIn Profile",
      "notes": "REPLACED: Apify LinkedIn profile scraper\nService: linkedin_profile_to_linkedin_info\nResponse: Direct field access (no .result)\nFields: fullName, jobTitle, email, companyName, companyWebsite, headline, about, etc.\nPurpose: Scrape detailed LinkedIn profile information\nAPI Key: Get yours at https://linkfinderai.com/?ref=reddit\nIMPORTANT: Downstream nodes updated to use correct response structure"
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=You are a research assistant specialized in gathering relevant, specific background information for personalized cold outreach campaigns. You will be provided with a person's full name, their company, and location.\n\nYour task is to find unique, noteworthy details that demonstrate genuine research and create natural conversation hooks. Focus on:\n\nPERSON-SPECIFIC INTEL:\n- Recent career moves, promotions, or role changes\n- Published content (articles, LinkedIn posts, podcast appearances, interviews)\n- Speaking engagements, conference presentations, or webinars\n- Awards, recognitions, or notable achievements\n- Educational background if distinctive (specific programs, certifications)\n- Public social media activity that reveals interests or initiatives they care about\n- Any publicly stated challenges or goals in their role\n\nCOMPANY-SPECIFIC INTEL:\n- Recent funding rounds, acquisitions, or major partnerships\n- New product launches or feature releases\n- Expansion into new markets or locations\n- Hiring trends (rapid growth in specific departments)\n- Recent press coverage, company milestones, or announcements\n- Technology stack changes or initiatives (if relevant)\n- Company culture details or values mentioned publicly\n\nFORMATTING REQUIREMENTS:\n- Provide 3-5 specific, actionable insights maximum\n- Include timestamps when relevant (\"announced last month\", \"posted 2 weeks ago\")\n- Cite sources for credibility but keep it brief\n- Flag if information is limited or person/company has minimal online presence\n- Prioritize recent information (last 6 months heavily preferred)\n- Avoid generic information available on basic LinkedIn profiles\n\nOutput format:\n**Key Insights:**\n1. [Specific, timely detail with context]\n2. [Another unique finding]\n...\n\n**Suggested Opening Hook:** [One sentence suggesting how to reference this in outreach]\n\nAvoid:\n- Generic company descriptions anyone could find\n- Outdated information (older than 12 months unless highly relevant)\n- Assumptions or speculation\n- Information that feels invasive or overly personal",
              "role": "system"
            },
            {
              "content": "=Name: {{ $json['First Name'] }} {{ $json['Last Name'] }}\nCompany Name: {{ $json['Company Name'] }}\nLocation: {{ $json['Company City'] }} {{ $json['Company State'] }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        1056,
        672
      ],
      "id": "d23e3da0-5a11-4e6b-867c-a62f8f3723ad",
      "name": "Message a model",
      "credentials": {
        "perplexityApi": {
          "id": "PxOpIiIhG11eIcHB",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1328,
        528
      ],
      "id": "3bf797ba-a1f8-4ee7-ad6c-9a224785c20f",
      "name": "Merge"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1568,
        720
      ],
      "id": "57fed857-9aca-4df9-b0a6-381c849b928a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kX5rZbh5l5A7I4I7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ⚡ WORKFLOW OPTIMIZED WITH LINKFINDER AI ⚡\n\nThis workflow has been optimized by replacing 1 node with LinkFinder AI services.\n\nReplaced Services:\n- Apify-linkedin-profile-scraper: Apify LinkedIn scraper → linkedin_profile_to_linkedin_info\n\nIMPORTANT - Response Structure Updates:\n✅ All downstream nodes have been updated to use correct LinkFinder AI response paths\n✅ Simple services use: $json.result\n✅ LinkedIn Profile scraping uses: $json.fieldName (direct access)\n✅ LinkedIn Company scraping uses: $json.fieldName (direct access)\n\nSetup Instructions:\n1. Get your API key: https://linkfinderai.com/?ref=reddit\n2. Replace ALL instances of {api_key_here} with your actual API key\n3. Test the workflow with sample data\n\nLinkFinder AI Services Used:\n- linkedin_profile_to_linkedin_info: Scrapes detailed LinkedIn profile data including fullName, jobTitle, email, companyName, companyWebsite, headline, about, and more (direct field access - NO .result)",
        "height": 528,
        "width": 1632,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        368
      ],
      "id": "bd44c67b-8c51-4642-bb8a-326143d682da",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Enrich",
        "height": 496,
        "width": 912,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        976,
        384
      ],
      "id": "53321701-0af4-4343-a556-6cf3b6c2e534",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Source",
        "height": 496,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        384
      ],
      "id": "7e47a240-34d5-4f01-acdf-d1dfb10c1d02",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Upload",
        "height": 496,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        384
      ],
      "id": "c37e98e5-3078-4895-b423-8c665deb8392",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## ❄️ LinkedIn Scraper 5.0 (RIP Apify + Apollo)\n## | [Created by Chase AI](https://www.skool.com/chase-ai)\n\n## How it Works\n### - Manually scrape leads via Apollo\n### - Upload Apollo CSV to Google Sheets\n### - Execute flow, auto scrapes linkedin + web search\n### - Custom messaging generated via OpenAI\n### - Leads + messaging uploaded to Instantly\n\n## APIs Needed\n### - [Perplexity](https://www.perplexity.ai/account/api/group)\n### - [Instantly](https://app.instantly.ai/app/settings/integrations)\n### - [LinkFinder AI](https://linkfinderai.com/?ref=reddit) - REPLACES APIFY\n",
        "height": 480,
        "width": 528,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "id": "1a8b0a36-6ad6-4f73-bdcd-e6037c22602e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "@[youtube](WBSNjimEe7Y)",
        "height": 432,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2240,
        400
      ],
      "id": "08006438-9cf4-4c0c-9cbb-16f3420548af",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Outreach Message": {
      "main": [
        [
          {
            "node": "Add Lead to Instantly AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "LinkFinder AI - LinkedIn Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Outreach Message",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - LinkedIn Profile": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Generate Outreach Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Outreach Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c224008-2a83-42d4-8da9-11ec4bfeab23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "858b0696cb7e4c2d54a791ff0d9e4a3cddc7a852434a593789da95c43379b467"
  },
  "id": "agHbeGyQ8itz2byb",
  "tags": []
}