linkedin-workflow4677.json
{
  "name": "Scrape and Enrich LinkedIn Leads",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Linkedin",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What Are You Searching For?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Find Email"
                  },
                  {
                    "option": "Find Phone"
                  },
                  {
                    "option": "Find Linkedin"
                  },
                  {
                    "option": "Find All"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Full Name"
            },
            {
              "fieldLabel": "Company Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Phone"
            },
            {
              "fieldLabel": "Linkedin"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -672,
        160
      ],
      "id": "9fde98da-e59d-417c-b9d7-0108ab4ca0f4",
      "name": "On form submission",
      "webhookId": "efa92439-bfb1-4623-8f47-a56afac07065"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['What Are You Searching For?'] }}",
                    "rightValue": "=Find Email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dad0017d-6f10-46ea-8331-6e1b28eecdf6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Find Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "329df518-6700-4d66-8bee-a36fdc599a23",
                    "leftValue": "={{ $json['What Are You Searching For?'] }}",
                    "rightValue": "=Find Phone",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Find Phone"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3569aa72-74c8-49ce-9dad-4fd55536d807",
                    "leftValue": "={{ $json['What Are You Searching For?'] }}",
                    "rightValue": "=Find Linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Find Linkedin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8831e967-4f79-4e4e-a26c-c10739dc6a1f",
                    "leftValue": "={{ $json['What Are You Searching For?'] }}",
                    "rightValue": "=Find All",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Find All"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -448,
        128
      ],
      "id": "b215a4f8-b831-418e-9394-45d3ab11dfa0",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        144
      ],
      "id": "2ad3739d-53b0-485b-8c1b-128897ba5635",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result === null || $json.result === '' }}",
                    "rightValue": "=true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "5aec486c-48bd-408a-8309-b59acaa32ef7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82f7bbbf-2bd5-439a-844d-b071eefbcf49",
                    "leftValue": "={{ $json.result !== null && $json.result !== '' }}",
                    "rightValue": "=true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Finished"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        512,
        160
      ],
      "id": "ca96b254-87c9-4802-8fc8-126b82dbf78e",
      "name": "Switch1",
      "notes": "Updated to check LinkFinder AI response structure"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 7cZ75Z70Z70Z5cZ81Z4eZ3aZ6eZ76Z79Z7fZ70Z4fZ5bZ3b"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "lead_full_name_to_linkedin_url"
            },
            {
              "name": "input_data",
              "value": "={{ $json['Full Name'] + ' ' + $json['Company Name'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -128
      ],
      "id": "d852e664-7af1-4d73-b602-72dd530f6cc1",
      "name": "LinkFinder AI - Find LinkedIn URL",
      "notes": "Step 1: Find LinkedIn profile URL using name and company"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 7cZ75Z70Z70Z5cZ81Z4eZ3aZ6eZ76Z79Z7fZ70Z4fZ5bZ3b"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "linkedin_profile_to_linkedin_info"
            },
            {
              "name": "input_data",
              "value": "={{ $json.result }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        -128
      ],
      "id": "e3d0cc91-8eae-4173-80b5-515614e83dc2",
      "name": "LinkFinder AI - Scrape Profile for Email",
      "notes": "Step 2: Scrape LinkedIn profile to get email and other data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 7cZ75Z70Z70Z5cZ81Z4eZ3aZ6eZ76Z79Z7fZ70Z4fZ5bZ3b"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "lead_full_name_to_linkedin_url"
            },
            {
              "name": "input_data",
              "value": "={{ $json['Full Name'] + ' ' + $json['Company Name'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        160
      ],
      "id": "2a971e93-11bc-40c7-a1cc-719aecf3e0c5",
      "name": "LinkFinder AI - Find LinkedIn (Phone)",
      "notes": "Step 1: Find LinkedIn profile URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 7cZ75Z70Z70Z5cZ81Z4eZ3aZ6eZ76Z79Z7fZ70Z4fZ5bZ3b"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "linkedin_profile_to_linkedin_info"
            },
            {
              "name": "input_data",
              "value": "={{ $json.result }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        160
      ],
      "id": "41e2df3d-1fbc-4778-84ea-d67cf110f5dd",
      "name": "LinkFinder AI - Scrape Profile for Phone",
      "notes": "Step 2: Scrape LinkedIn profile to get phone and other data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkfinderai.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 7cZ75Z70Z70Z5cZ81Z4eZ3aZ6eZ76Z79Z7fZ70Z4fZ5bZ3b"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "lead_full_name_to_linkedin_url"
            },
            {
              "name": "input_data",
              "value": "={{ $json['Full Name'] + ' ' + $json['Company Name'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        496
      ],
      "id": "78354501-80fa-42fb-87d7-4f072aaed989",
      "name": "LinkFinder AI - Find LinkedIn URL Only",
      "notes": "Returns LinkedIn profile URL directly"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Failed To Find Enrichment Data",
        "completionMessage": "The LinkFinder AI service could not find any enrichment data from the provided information",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        736,
        64
      ],
      "id": "78ea8f50-b3c7-4b72-8dcd-d1138c37c3aa",
      "name": "Failed To Find Enrichment",
      "webhookId": "2f65eb38-7d5e-4817-8238-39b4e25a6607"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appvFKIEfctaRKtpz",
          "mode": "list",
          "cachedResultName": "CRM Magic",
          "cachedResultUrl": "https://airtable.com/appvFKIEfctaRKtpz"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        64
      ],
      "id": "acdd86cb-ac97-4ebb-8670-c0dac0ed0edc",
      "name": "Create a record",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Success!",
        "completionMessage": "Your new lead has been successfully added to your CRM",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1184,
        448
      ],
      "id": "a60ae5b7-ae50-420e-a9dd-e29118e9053b",
      "name": "Success Message Form",
      "webhookId": "2f65eb38-7d5e-4817-8238-39b4e25a6607"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function node - Updated for LinkFinder AI response structure\n// Input: array of enrichment results from LinkFinder AI\n// Output: single normalized lead object\n\nreturn [\n  {\n    json: (() => {\n      const all = items.map(i => i.json);\n      \n      // Find the LinkedIn profile scrape result (has detailed fields, not just result)\n      const profileData = all.find(r => r.fullName || r.email || r.mobileNumber) || {};\n      \n      // Find LinkedIn URL result (simple result field)\n      const linkedinUrlData = all.find(r => r.result && r.result.includes('linkedin.com/in/')) || {};\n      \n      // Extract name parts\n      const fullName = profileData.fullName || '';\n      const nameParts = fullName.split(' ');\n      const firstName = nameParts[0] || null;\n      const lastName = nameParts.slice(1).join(' ') || null;\n      \n      return {\n        first_name: firstName,\n        last_name: lastName,\n        email: profileData.email || null,\n        phone_number: profileData.mobileNumber || null,\n        company_name: profileData.companyName || null,\n        website: profileData.companyWebsite || null,\n        location: profileData.jobLocation || profileData.addressWithCountry || null,\n        job_title: profileData.jobTitle || null,\n        linkedin_profile: profileData.linkedinUrl || linkedinUrlData.result || null,\n        company_url: profileData.companyLinkedin || null\n      };\n    })()\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        256
      ],
      "id": "afd1bb9b-6cf2-48e1-a1b0-5433bb3ee570",
      "name": "Clean Up",
      "notes": "Updated to handle LinkFinder AI response structure - profile scraping returns fields directly, not in result"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "city": "={{ $json.location }}",
          "companyName": "={{ $json.company_name }}",
          "firstName": "={{ $json.first_name }}",
          "jobTitle": "={{ $json.job_title }}",
          "lastName": "={{ $json.last_name }}",
          "linkedinUrl": "={{ $json.linkedin_profile }}",
          "phoneNumber": "={{ $json.phone_number }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        960,
        256
      ],
      "id": "90fbf5ba-6e87-4b93-8a26-76e569afcbdb",
      "name": "Create or update a contact"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Xvtk_qqdbp4d6fHfxvLs6LO2kWAfmWKVDx8NL_kelmU",
          "mode": "list",
          "cachedResultName": "Lead list",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xvtk_qqdbp4d6fHfxvLs6LO2kWAfmWKVDx8NL_kelmU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xvtk_qqdbp4d6fHfxvLs6LO2kWAfmWKVDx8NL_kelmU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('On form submission').first().json['Full Name'] }}",
            "Linkedin url": "={{ $json.linkedin_profile }}",
            "Phone": "={{ $json.phone_number }}",
            "Email": "={{ $json.email }}",
            "Company": "={{ $('On form submission').first().json['Company Name'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Linkedin url",
              "displayName": "Linkedin url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        448
      ],
      "id": "3f20ee41-f86f-471c-9a10-21601cbda6dd",
      "name": "Append row in sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Find LinkedIn URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkFinder AI - Find LinkedIn (Phone)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkFinder AI - Find LinkedIn URL Only",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkFinder AI - Find LinkedIn URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkFinder AI - Find LinkedIn (Phone)",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkFinder AI - Find LinkedIn URL Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Find LinkedIn URL": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Scrape Profile for Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Scrape Profile for Email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Find LinkedIn (Phone)": {
      "main": [
        [
          {
            "node": "LinkFinder AI - Scrape Profile for Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkFinder AI - Scrape Profile for Phone": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "LinkFinder AI - Find LinkedIn URL Only": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Failed To Find Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Up": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Success Message Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a89d3299-2987-4477-9008-ded8c2b5e88d",
  "meta": {
    "instanceId": "0ba15c473753d92c71f15fc9391d54bb141d91f940c0582da38b60426c3c2f10"
  },
  "id": "Z19tIwfIcQMkfWEn",
  "tags": [
    {
      "updatedAt": "2026-01-10T13:16:32.468Z",
      "createdAt": "2026-01-10T13:16:32.468Z",
      "id": "LMPmbO7dNV9KRnzN",
      "name": "Video 1"
    }
  ]
}
